# Dask DataFrames

Dask DataFrames sind eine Sammlung von Pandas DataFrames, die Reihen-weise gruppiert sind und durch einen Index organisiert sind. Diese Pandas DataFrames müssen nicht zwingend auf dem lokalen Computer vorhanden sein.

Das DataFrame API von Pandas wird auch von Dask übernommen und die Datenmanipulation ist deshalb weitgehend gleich.

Anstatt Pandas zu importieren, wird einfach Dask DataFrame importiert:

In [1]:
import dask.dataframe as dd

## Daten einlesen

Wir können nun einfach Daten einlesen wie in Pandas:

In [2]:
df = dd.read_csv(
    '../data/LoRa-Sensoren-ZH/*.csv',
    sep = ";",
    dtype = { 'magl': 'float64' }
)

Dabei erkennen wir zwei Unterschiede:

1. Wir lesen hier nicht eine Datei ein, sondern gleich 42 CSV-Dateien in einem Befehl. Dies geschieht dank dem Sternzeichen anstatt dem genauen Namen. Allerdings ist es wichtig dass die Datenstruktur für alle Dateien identisch ist.

2. Ein `dtype`-Argument wurde hinzugefügt. Dies ist spezifisch für Dask. Für die Spalte `magl` wurde der Datentyp von Dask nicht richtig erkannt was zu einem Fehler geführt hat. Das Einfügen dieses Befehls behebt den Fehler.

---

## Aufgabe 1

Führen Sie den Befehl ohne das `dtype`-Argument aus. Schauen Sie ob der Fehler ebenfalls geschieht. Und wenn ja, versuchen Sie den Fehlertext zu studieren um zu verstehen, wie die Lösung gefunden werden konnte.

---

## Datenmanipulationen

Wir können natürlich die ersten par Zeilen des Datensatzes anschauen:

In [17]:
df.head()

,starttime,site,masl,magl,x,y,sensor,temperature,humidity
0,2022-09-01 00:00,Bülach - Feldermösli,417,2.0,2682216,1262843,531,15.38,87.46
1,2022-09-01 00:10,Bülach - Feldermösli,417,2.0,2682216,1262843,531,15.38,87.54
2,2022-09-01 00:20,Bülach - Feldermösli,417,2.0,2682216,1262843,531,15.24,87.76
3,2022-09-01 00:30,Bülach - Feldermösli,417,2.0,2682216,1262843,531,15.15,87.50
4,2022-09-01 00:40,Bülach - Feldermösli,417,2.0,2682216,1262843,531,15.12,87.28

Wie viele Datenpunkte haben wir?

In [30]:
len(df)

207696

Wir können wie gewohnt Berechnungen anstellen, z.B. eine Spalte mit der Temperatur in Fahrenheit hinzufügen:

In [25]:
df['temp_F'] = (df['temperature'] * 9 / 5) + 32

In [26]:
df.head()

,starttime,site,masl,magl,x,y,sensor,temperature,humidity,temp_F
0,2022-09-01 00:00,Bülach - Feldermösli,417,2.0,2682216,1262843,531,15.38,87.46,59.684
1,2022-09-01 00:10,Bülach - Feldermösli,417,2.0,2682216,1262843,531,15.38,87.54,59.684
2,2022-09-01 00:20,Bülach - Feldermösli,417,2.0,2682216,1262843,531,15.24,87.76,59.432
3,2022-09-01 00:30,Bülach - Feldermösli,417,2.0,2682216,1262843,531,15.15,87.50,59.270
4,2022-09-01 00:40,Bülach - Feldermösli,417,2.0,2682216,1262843,531,15.12,87.28,59.216

In [29]:
len(df)

207696

Die Liste der Messstellen:

In [40]:
sites = df['site'].unique()
print('\n'.join(sites))

Bülach - Feldermösli
Bülach - Süd
Elsau - Halden
Lindau - Tagelswangen
Oberembrach - Schüler
Opfikon - Glattpark
Regensdorf - Geerenwiesstrasse
Schlieren - Badenerstrasse
Schlieren - Brachweg
Uster - Ackerstrasse
Uster - Im-Lot
Uster - Schulhaus-Dorf
Uster - Schulhaus-Pünt
Uster - Sunnenloobach
Winterthur - Neumarkt
Winterthur - Schulhaus-Altstadt
Winterthur Bahnhof
Zürich  Wolfrimweg
Zürich - Allmend
Zürich - Altuetliberg
Zürich - Blumenfeld
Zürich - Borrweg Hagacher
Zürich - Bucheggplatz
Zürich - Eichbühl
Zürich - Grubenstrasse 56
Zürich - Grünau
Zürich - Hardplatz
Zürich - Hungerbergstrasse
Zürich - Kaserne
Zürich - Lindenhof
Zürich - Nordlicht
Zürich - Nordlicht-2
Zürich - Oerlikerpark
Zürich - offene Rennbahn
Zürich - Paradeplatz
Zürich - Perron-HB
Zürich - Rosengartenstrasse
Zürich - Schimmelstrasse
Zürich - Schulhaus-Borrweg
Zürich - ScienceCity
Zürich - Sechseläutenplatz
Zürich - Sihl-Schanzengraben
Zürich - Sihlfeld
Zürich - Sihlfeld-Kapelle
Zürich - Vulkanplatz
Zürich - Werdinsel-neu
Zürich - Witikon
Zürich - Zürihorn

---

## Aufgabe 2

Berechnen Sie den Durchschnitt, Maximum- und Minimum-Werte pro Woche für alle Messstationen.

---

## Für was Dask DataFrames geeignet sind...

Dask DataFrames ersetzen einfach Pandas-Frameworks und sind somit sehr einfach zu benutzen.

Allerdings sollten Dask DataFrames nur dann benutzt werden, wenn die Daten zu gross sind, oder wenn die Berechnungen zu lange dauern. Die verteilte Berechnung hat zwangsläufig einen Overhead, und der sollte nur in Kauf genommen werden, wenn es nicht anders geht.

Zudem macht die parallele Verarbeitung nur dann Sinn, wenn die Berechnung auch parallelisierbar ist. Dask ist auch nicht einfach ein Wundermittel gegen jegliche Datenbeschwerden. Bitte lesen Sie die Packungsbeilage... 😀